@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main */
body {
  background-image: url(/Images/main-background.png);
  background-repeat: no-repeat;
  background-size: 2011px;
  color: #fff;
}
.pifg {
  display: flex;
  justify-content: center;
  position: relative;
}
.balance-img {
  position: absolute;
  width: 90px;
  height: 90px;
  margin-top: 1.5%;
  margin-right: 400px;
}
.balance {
  font-size: 100px;
  align-self: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; /* 400 is regular, 300 is light, 700 is bold */
}
.button-click {
  position: fixed;
  width: 99px;
  height: 99px;
  background-color: transparent;
  border: none;
  top: 175px;
  left: 600px;
}
.button-rocket-click {
  background-color: transparent;
  border: none;
  margin-left: 1600px;
  margin-top: 450px;
  color: #fff;
  font-family: Silkscreen;
  font-size: 23px;
}
.button-rocket-img {
  width: 250px;
  height: 250px;
}
@media (min-width: 1921px) {
  .balance-img {
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: 18px;
    left: 1000px;
  }
  .button-img {
    position: fixed;
    left: 850px;
    width: 800px;
    top: px;
  }
  body {
    background-size: 2711px;
  }
  .button-rocket-click {
    margin-top: 550px;
    margin-left: 1740px;
  }
  .button-rocket-boost-text {
    margin-left: 60%;
  }
  .button-rocket-img {
    margin-top: 200px;
    margin-left: 450px;
    top: 50px;
    width: 300px;
    height: 300px;
  }
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.201);
  opacity: 1;
  transition: opacity 0.5s linear;
  background-image: url(/Images/dark-black-background-design-with-stripes_1017-38064.png);
  background-size: cover;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 1030px;
  min-height: 699px;
  padding: 10px;
  background-color: #333232a8;
  transform: translate(-250%, -50%);
  transition: transform 0.3s ease-in;
}
.modal.effect {
  transform: translate(-50%, -50%);
}
