@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");
body {
  background-image: url(/Images/main-background.png);
  background-repeat: no-repeat;
  background-size: 2011px;
}
.pifg {
  display: flex;
  justify-content: center;
  position: relative;
}
.balance-img {
  position: absolute;
  width: 90px;
  height: 90px;
  margin-top: 90px;
  margin-right: 400px;
}
.balance {
  font-size: 100px;
  align-self: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; /* 400 is regular, 300 is light, 700 is bold */
}
.button-click {
  position: fixed;
  width: 99px;
  height: 99px;
  background-color: transparent;
  border: none;
  top: 175px;
  left: 600px;
}
.button-img {
  align-items: center;
  justify-content: center;
  width: 600px;
}
@media (min-width: 1921px) {
  .balance-img {
    width: 90px;
    height: 90px;
    top: 94px;
    left: 1100px;
  }
  .button-img {
    position: fixed;
    left: 850px;
    width: 800px;
    top: 120px;
  }
}
